@import './variables';

.page-bp {
    padding: 0;
}

.sec-bp-content {
    @include FlexCenter (row, none, none);
    padding: 0 $padding-2xlrg;
    margin: $margin-xlrg 0;

    .sec-bp-products {
        @include FlexCenter (row, flex-start, none);
        flex-wrap: wrap;
    }
}


.sec-bp-filter {
    @include FlexCenter (row, space-between, none);
    max-width:365px;

}

.sec-bp-navbar {
    @include FlexCenter (row, flex-start, center);
    padding: 0;

    h1 {
        @include AbelFontVal($med-weight, $med-med, $darkblue, $med-4xsml, none);
        flex-wrap: wrap;
        padding-left: 300px;
    }
}

.sec-bp-group {
    @include FlexCenter (row, none, center);
    padding: 0 $padding-2xlrg;
    flex-wrap: wrap;
}

.sec-bp-bannerImg {
    padding: 0
}