@import './variables';

.orange-font {
    
    @include FlexCenter (row, center, baseline);
    margin-left: $padding-huge;

    .compare {
        padding: 0 $smaller-sml;

        @include NoBorderBtn (none, $white);
        @include InterFontVal($xlrg-weight, $med-2xsml, $orange, $med-3xsml);
        
    }
}

.orange-filled {
    @include FlexCenter (row, center, center);
    @include BorderBtn (5px solid $ashgrey, $orange, $radius-2xsml, $no-margins, 8.5px $padding-2xlrg);

    .cart-text {
        @include NoBorderBtn (none, $orange);
        @include InterFontVal($xlrg-weight, $med-2xsml, $white, $med-3xsml);
        // color: $white;
        padding-left: $padding-sml;
    }
}

.back-button {
    @include FlexCenter (row, flex-start, baseline);
    padding: 0 $padding-huge;
    

    img {
        width: $width-sml;
    }

    .backBtn-text {
        @include FlexCenter (row, center, baseline);
        padding-left: 8px;

        h5 {
            @include AbelFontVal($med-weight, $med-xsml, $darkblue, $med-4xsml, none);
            padding-right: 4px;
            margin: $no-margins;
        }

        p {
            @include AbelFontVal($med-weight, $smaller-3xlrg, $darkblue, $med-4xsml, none);
        }
    }
}
