@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;300;400;500&display=swap");
.headerimg {
  width: 100%;
  margin: 0px;
  display: block;
}

.breadcrumbs-sec {
  background-color: rgba(2, 23, 36, 0.75);
  padding: 8px 0px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0px;
  padding: 0px 31px;
}
.breadcrumbs img {
  width: 18px;
  height: 18px;
}
.breadcrumbs .arrow-img {
  width: 8px;
  height: 8px;
}
.breadcrumbs h3 {
  font-family: "Inter", sans-serif;
  font-size: 500;
  font-weight: 16px;
  color: #BFBFBF;
  line-height: 24px;
  padding: 0px 12px;
  margin: 0px;
}
.breadcrumbs .selected-laptop {
  color: #F08222;
}

.orange-font {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-left: 55px;
}
.orange-font .compare {
  padding: 0 12px;
  border: none;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #F08222;
  line-height: 32px;
}

.orange-filled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(26, 26, 26, 0.24);
  background-color: #F08222;
  border-radius: 10px;
  margin: 0px;
  padding: 8.5px 25px;
}
.orange-filled .cart-text {
  border: none;
  background-color: #F08222;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 32px;
  padding-left: 12px;
}

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0 55px;
}
.back-button img {
  width: 12px;
}
.back-button .backBtn-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-left: 8px;
}
.back-button .backBtn-text h5 {
  font-family: "Abel", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 24px;
  text-decoration: none;
  padding-right: 4px;
  margin: 0px;
}
.back-button .backBtn-text p {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 24px;
  text-decoration: none;
}

.sec-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 31px;
}
.sec-details p {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 25px;
  text-decoration: none;
  flex-wrap: wrap;
}
.sec-details .cart-compare-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 17px;
}

.d-w-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.d-w-img img {
  height: 123px;
  width: auto;
  padding-left: 55px;
}

.d-model {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-right: 65px;
}
.d-model h1 {
  margin: 0px;
  font-family: "Abel", sans-serif;
  font-size: 55px;
  font-weight: 400;
  color: #2C99CA;
  line-height: 70px;
  text-decoration: none;
}
.d-model h2 {
  margin: 0px;
  font-family: "Abel", sans-serif;
  font-size: 31px;
  font-weight: 400;
  color: #F08222;
  line-height: 35px;
  text-decoration: none;
}
.d-model h3 {
  margin: 0px;
  font-family: "Abel", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 35px;
  text-decoration: none;
}
.d-model p {
  margin: 0 13px;
  font-family: "Abel", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #2C99CA;
  line-height: 70px;
  text-decoration: line-through;
}
.d-model .p-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.qty-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.qty-btn .qty-plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(26, 26, 26, 0.24);
  background-color: #F08222;
  border-radius: none;
  margin: 0px;
  padding: 1px 13px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  font-size: 20px;
}
.qty-btn .count-display {
  border: 3px solid rgba(26, 26, 26, 0.24);
  background-color: #F08222;
  border-radius: none;
  margin: 0px;
  padding: 2.9px 8px;
  color: white;
}
.qty-btn .qty-minus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  border: 3px solid rgba(26, 26, 26, 0.24);
  background-color: #F08222;
  border-radius: none;
  margin: 0px;
  padding: 1px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 20px;
  margin: 0px;
}

.footerImg {
  display: block;
  padding-top: 30px;
}

.product-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 31px;
}
.product-carousel .img-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 55px;
}

.product-pic-det {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 55px;
}

section {
  padding: 0 55px;
}
section .features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feat-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 19px;
}
.feat-icon .ft-txt {
  padding: 0 9px;
}
.feat-icon .abel-25 {
  font-family: "Abel", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: black;
  line-height: 32px;
  text-decoration: none;
  margin: 0px;
}
.feat-icon .abel-35 {
  font-family: "Abel", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 100%;
  text-decoration: none;
  margin: 0px;
}
.feat-icon .abel-18 {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2C99CA;
  line-height: 100%;
  text-decoration: none;
  margin: 0px;
}

.page-bp {
  padding: 0;
}

.sec-bp-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  padding: 0 25px;
  margin: 30px 0;
}

.sec-bp-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.sec-bp-navbar h1 {
  font-family: "Abel", sans-serif;
  font-size: 55px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 24px;
  text-decoration: none;
  flex-wrap: wrap;
  padding-left: 300px;
}

.sec-bp-group {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  padding: 0 25px;
}

.sec-bp-bannerImg {
  padding: 0;
}

.sec-bp-products {
  padding: 0;
}

.filterFrame {
  padding-top: 0;
}

.filterList {
  padding-top: 0;
}

.filtermock {
  padding-top: 0;
}

.loadingContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  right: 35%;
}

.loadingCircle {
  width: 50px;
  height: 50px;
  border: 10px solid #f7f7f7;
  border-top-color: #707070;
  border-radius: 50%;
  -webkit-animation: loadingAnimaiton 1s linear infinite;
          animation: loadingAnimaiton 1s linear infinite;
  opacity: 90%;
}

@-webkit-keyframes loadingAnimaiton {
  to {
    transform: rotate(1turn);
  }
}

@keyframes loadingAnimaiton {
  to {
    transform: rotate(1turn);
  }
}
.p-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 8px;
  border-color: #0D4F77;
  max-width: 321px;
  max-height: 507px;
  margin: 5px;
}
.p-summary h1 {
  font-family: "Abel", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 24px;
  text-decoration: none;
  flex-wrap: wrap;
}

.p-summaryImg {
  width: 195px;
  height: 164px;
}
.p-summaryImg img {
  max-width: 100%;
  max-height: auto;
}

.p-features {
  font-family: "Abel", sans-serif;
  font-size: 55px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 24px;
  text-decoration: none;
}

.p-model {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.p-model h1 {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 20px;
  text-decoration: none;
  flex-wrap: wrap;
}
.p-model h3 {
  font-family: "Abel", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #0D4F77;
  line-height: 12px;
  text-decoration: none;
  flex-wrap: wrap;
}

.p-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.p-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.p-cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */