@import './variables';

//Comparison section styling
.sec-pad-consist {
    padding: 0 54px;
    
    .c-d-heading {
        @include AbelFontVal($med-weight, $med-sml, $lightblue, 45px, none);
    }

    .the-cards {
        @include FlexCenter(row, space-around, center);
        padding-bottom: 58px;
    }
}




//Comparison-cards section styling
.c-border-mini {
    @include BorderBtn (4px solid $darkblue, $white, 4px, 0, $padding-3xlrg $padding-2xmed);
    padding-bottom: $padding-xlrg;

    //Text styling
    .the-title{
        @include AbelFontVal($med-weight, $med-sml, $darkblue, $med-sml, none);
        text-align: left;
    }
    .the-model{
        @include AbelFontVal($sml-weight, $smaller-xxlrg, $darkblue, 0, none);
        text-align: left;
    }
    .the-price{
        @include AbelFontVal($sml-weight, $med-2xsml, $orange, $med-xsml, none);
        text-align: left;
    }
}

//Singular card styling
.c-border {
    @include FlexCenter(column, center, center);
    @include BorderBtn (4px solid $darkblue, $white, 4px, 0, $margin-2xmed $margin-xmed);

    .c-content {
        @include FlexCenter(column, center, center);
        
    }

    .c-feat {
        @include FlexCenter(column, center, center);
        padding: $padding-huge 0;
    }

}

