@import './variables';

// .header-page {
//    padding-bottom: $padding-xlrg;
// }

.headerimg {
    width: $full-width;
    margin: $no-margins;
    display: block;
}

.breadcrumbs-sec {
    background-color: $grey-black;
    padding: $padding-4xsml 0px;
}

.breadcrumbs {
    @include FlexCenter(row, flex-start, baseline);
    margin: $no-margins;
    padding: 0px $padding-lrg;

    img {
        // width: auto;
        width: $smaller-3xlrg;
        height: $smaller-3xlrg;
    }

    .arrow-img {
        width: $width-4xsml;
        height: $width-4xsml;
    }

    h3 {
        @include InterFontVal($smaller-xxlrg, $lrg-weight, $lightgrey, $med-4xsml);
        padding: 0px $smaller-sml;
        margin: $no-margins;
    }

    .selected-laptop {
        color: $orange;
    }
}